#jinja2: lstrip_blocks: False
#peer-filter allasn
#   10 match as-range 1-4294967295 result accept
{% for iproute in hostparams.customiproutes or [] %}
ip route {{ iproute }}
{% endfor %}
interfaces dummy dum{{ loopbackint }} address {{ hostparams.loopbackaddr }}
{% for interface in hostparams.interfaces %}
interfaces ethernet {{ interface.name }} address {{ interface.ip }}
interfaces ethernet {{ interface.name }} description {{ interface.description }}
{% endfor %}
protocols bgp {{ hostparams.asn }} network {{ hostparams.loopbackaddr }}
{% for interface in hostparams.interfaces %}
{% if interface.type is equalto "uplink" %}
protocols bgp {{ hostparams.asn }} neighbor {{ interface.peerip }} remote-as {{ interface.peerasn }}
protocols bgp {{ hostparams.asn }} neighbor {{ interface.peerip }} update-source {{ interface.name }}
protocols bgp {{ hostparams.asn }} neighbor {{ interface.peerip }} nexthop-self
protocols bgp {{ hostparams.asn }} neighbor {{ interface.peerip }} soft-reconfiguration inbound
{% else %}
protocols bgp {{ hostparams.asn }} network {{ interface.ip|ipaddr('network/prefix') }}
{% if interface.dynamicpeers %}
#   bgp listen range {{ interface.ip|ipaddr('network/prefix') }} peer-group peers-{{ hostparams.asn }} peer-filter allasn
{% endif %}
{% endif %}
{% endfor %}
{% for addntw in hostparams.additionalnetworks or [] %}
protocols bgp {{ hostparams.asn }} network {{ addntw }}
{% endfor %}
